<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <title>TTS API</title>
</head>
<body>
<section class="py-1 bg-blueGray-50">
    <div class="w-full xl:w-10/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                       
                    </div>

                </div>
            </div>

            <div class="block w-full overflow-x-auto">
                <h5>Урматтуу хакатон катышуучулары, TTS(текстен кепке) тин API -> :</h5>  <span><h1 class="text-blue-600">http://tts.ulut.kg/api/tts</h1></span>
                
				<h5>А токени болсо, силерге ASR(кептеп тексте) үчүн берилген токенди колдоносуздар, аны биз сиздердин почтаңызга жибергенбиз.</h5>
				<h5>Видео аркылуу TTS-ти кантип туура колдонууну көрө аласыздар. Ийгилик!</h5>

				<h5>Видео инструкция : <a class="text-blue-500" href="https://youtu.be/Xe6RXSXYbqc">https://youtu.be/Xe6RXSXYbqc</a>  </h5>  
            </div>
        </div>
    </div>
</section>
</body>
</html>
